---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-app-deployment
  namespace: default
spec:
  replicas: 2
  selector:
    matchLabels:
      app: demo-app
  template:
    metadata:
      labels:
        app: demo-app
    spec:
      containers:
      - name: demo-app
        image: m1g0r/demo-app:49f7fa8
        ports:
          - containerPort: 5000
        env:
          - name: APP_VERSION
            value: "v0.2"
