{% extends 'base.html' %}

{% block content %}
    <center><h1>Wellcome to Wise GitOps Workshop!</h1></center>
    <img src="https://i.makeagif.com/media/3-15-2020/HMWLBt.gif" width="700">
        <div class="systemdata">
            <h3>System Data:</h3>
            <ul>
                <li>DateTime: {{ now_dt }}</li>
                <li>Power kWh: {{ kwh_data }}</li>
                <li>Requester IP: {{ ip_address }}</li>
                <li>App Version: {{ version }}</li>
            </ul>
        </div>  
{% endblock %}
